

.info-box {
  background: rgba(255, 255, 255, 0.7);
  padding: 1em;
  border-radius: 8px; /* optional: 角丸 */
}


@font-face {
  font-family: 'JNR';
  src: url(../font/JNRfont_n.ttf) format("truetype");

}
.classJNR {
  font-family: 'JNR';
}

